<!DOCTYPE html>
<html lang="en">
<head>
    <title>Footer</title>
    <th:block th:include="~{/fragments/head}"></th:block>

</head>
<body>
<div style="margin-bottom: 25px;" class="text-hide">dasdasdasd</div>
<footer class="text-center">

        &copy; Copyright,
        <a target="_blank" href="https://github.com/velk20/zoomania">ZooMania</a> 2023©. All Rights Reserved,
        <a target="_blank" href="https://github.com/velk20">
            Angel
            Mladenov
        </a>.

        Find me at:
        &nbsp
        <a target="_blank" href="https://github.com/velk20"><i class="fa fa-github" aria-hidden="true"></i></a>
        &nbsp
        <a target="_blank" href="https://www.linkedin.com/in/angel-mladenov-8aa447181/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
        &nbsp
        <a target="_blank" href="mailto:angelmladenov3@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>


</footer>

</body>
</html>