<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Details Offer</title>
  <th:block th:include="~{/fragments/head}"></th:block>

</head>
<body>
<div th:replace="fragments/navbar">Navbar</div>

<!-- Page Content -->
<div th:object="${offer}" class="container">

  <!-- Portfolio Item Heading -->
  <h1 th:text="*{title}" class="my-4">Page Heading
  </h1>

  <!-- Portfolio Item Row -->
  <div class="row">

    <div class="col-md-8">
      <img class="img-fluid" th:src="*{imageUrl}" alt="">
    </div>

    <div class="col-md-4">
      <h3 class="my-3">Description</h3>
      <p th:text="*{description}"> desc</p>
      <h3 class="my-3">Price
        <h4 th:text="'$'+*{price}"> price</h4>
      </h3>
      <h3 class="my-3">Pet Details</h3>
      <ul class="my-3" style="list-style-type: disc;">
        <li><h5>Category: <span th:text="*{category}">category</span></h5></li>
        <li><h5>Breed: <span th:text="*{breed}"> breed</span></h5></li>
        <li><h5>Posted on: <span th:text="*{createdOn}">posted</span></h5></li>
        <li><h5>Seller: <span th:text="*{getSellerFullName()}">seller</span></h5></li>
      </ul>
    </div>

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->


</body>
<div th:replace="fragments/footer">Footer</div>

</html>