<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Edit Offer</title>
    <th:block th:include="~{/fragments/head}"></th:block>

</head>
<body>
<div th:replace="fragments/navbar">Navbar</div>

<div class="container">

    <form
            enctype="multipart/form-data"
            id="registerForm"
            th:method="patch"
            th:object="${editOffer}"
            th:action="@{/offers/{id}/edit(id=${offerId})}"
            class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
        <div class="h4 text-center">Edit offer</div>
        <div class="row text-center justify-content-center">
            <img th:src="*{imageUrl}" width="200px" height="200px">

        </div>
        <div class="row">
            <div class="form-group col-md-12 mb-3">

                <label for="images" class="text-white font-weight-bold">ImageUrl</label>
                <input
                        id="images"
                        name="images"
                        accept="image/*"
                        multiple="multiple"
                        type="file"
                        class="form-control"
                        placeholder="Upload Image, if you want to change it"/>
                <small class="text-center">Only if you want to change the current
                    images than place your new once here. Old images will be deleted.</small>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12 mb-3">

                <label for="title" class="text-white font-weight-bold">Title</label>
                <input
                        id="title"
                        th:field="*{title}"
                        th:errorclass="is-invalid"
                        type="text"
                        class="form-control"
                        placeholder="Title"/>
                <div class="invalid-feedback errors alert alert-danger">
                    <div th:each="err : ${#fields.errors('title')}"
                         th:text="${err}"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12 mb-3">

                <label for="price" class="text-white font-weight-bold">Price</label>
                <input
                        id="price"
                        th:field="*{price}"
                        th:errorclass="is-invalid"
                        type="number"
                        class="form-control"
                        placeholder="Price"/>
                <div class="invalid-feedback errors alert alert-danger">
                    <div th:each="err : ${#fields.errors('price')}"
                         th:text="${err}"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12 mb-3">

                <label for="breed" class="text-white font-weight-bold">Breed</label>
                <input
                        id="breed"
                        th:field="*{breed}"
                        th:errorclass="is-invalid"
                        type="text"
                        class="form-control"
                        placeholder="Breed"/>
                <div class="invalid-feedback errors alert alert-danger">
                    <div th:each="err : ${#fields.errors('breed')}"
                         th:text="${err}"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12 mb-3">
                <label for="category"
                       class="form-label text-white font-weight-bold">Category</label>
                <select id="category"
                        name="category"
                        th:errorclass="is-invalid"
                        class="form-control">
                    <option disabled> <--- Select category ---></option>
                    <option th:each="e : ${T(com.zoomania.zoomania.model.enums.CategoryEnum).values()}"
                            th:text="${e}"
                            th:value="${e}"
                            th:selected="${e} == *{category}">
                        Category
                    </option>
                </select>
                <p class="invalid-feedback errors alert alert-danger">
                    Category type is required.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <!-- Description -->
                <div class="mb-8">
                    <div class="form-group">
                        <label for="description"
                               class="form-label text-white"><strong>Description</strong></label>
                        <textarea id="description"
                                  th:field="*{description}"
                                  th:errorclass="is-invalid"
                                  class="form-control" rows="3"
                                  name="description"></textarea>
                        <p class="invalid-feedback errors alert alert-danger">
                            Description is required.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12 mb-3">
                <button class="btn btn-primary" type="submit">Update</button>
            </div>

        </div>
    </form>
</div>
</body>
<div th:replace="fragments/footer">Footer</div>
<script>
    $("#images").on("change", function() {
        if ($("#images")[0].files.length > 3) {
            alert("You can select only 3 images");
            $("#images").val(null);
        }
    });
</script>
</html>