<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Error</title>
    <th:block th:include="~{/fragments/head}"></th:block>
</head>
<body>
<div th:replace="fragments/navbar">Navbar</div>

<div class="container justify-content-center bootstrap snippets bootdey">
    <div class="justify-content-center row">
        <div class="justify-content-center col-md-12">
            <div class="justify-content-center" style="margin-top:10px;">
                <div class="col-md-12 justify-content-center">
                    <img class="img-error" src="https://bootdey.com/img/Content/fdfadfadsfadoh.png">
                    <h2>Oops, something went wrong!</h2>
                    <h4 class="text-danger"><th:block th:text="${message}"></th:block> </h4>
                    <div class="error-actions">
                        <a th:href="@{/}" class="btn btn-primary btn-lg">
                            <span class="glyphicon glyphicon-arrow-left"></span>
                            Back Home
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer">Footer</div>

</body>
</html>