<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>My offers</title>
  <th:block th:include="~{/fragments/head}"></th:block>

</head>
<body>
<div th:replace="fragments/navbar">Navbar</div>

<div class="shop-items">
  <div class="container-fluid">
    <h1  th:if="${offers.hasContent()}" class="text-center text-white">My offers</h1>

    <div class="row">
      <div th:if="${offers.hasContent()}" th:each="offer : ${offers.getContent()}" class="col-md-3 col-sm-6">
        <!-- Restaurant Item -->
        <div class="item" th:style="${offer.isActive ? '' : 'opacity:0.5'}">
          <!-- Item's image -->
          <img class="img-responsive" height="250px" width="250px" th:src="${offer.imagesUrls.get(0)}" alt="">
          <!-- Item details -->
          <div class="item-dtls">
            <!-- product title -->
            <h4 ><a th:href="@{/offers/{offerId}/details(offerId=${offer.id})}" th:text="${offer.title}"></a></h4>
            <!-- price -->
            <span class="price lblue" th:if="${offer.price >0}" th:text="'$'+${offer.price}">$23.00</span>
            <span class="price lblue" th:if="${offer.price == 0}" th:text="FREE">FREE</span>
          </div>
          <!-- add to cart btn -->
          <div class="ecom bg-blue">
            <a th:unless="${offer.isActive}" class="btn bg-danger">Not Approved</a>
            <th:block th:if="${offer.isActive}">
              <a class="btn bg-warning" th:href="@{/offers/{offerId}/edit(offerId=${offer.id})}">Edit</a>
              <a class="deleteBtn btn bg-danger"
                 id="deleteBtn"
                 th:data-id="${offer.id}">
                Delete</a>
            </th:block>

          </div>
        </div>
      </div>

  </div>
    <div th:unless="${offers.hasContent()}" class="row justify-content-center text-center">
      <div class="justify-content-center text-center">
        <h2  class="text-center text-danger text-capitalize">You don't
          have any offers!</h2></div>
    </div>
    </div>

  <div th:if="${offers.hasContent()}" id="paginationNav" class="container-fluid row justify-content-center mar">
    <nav class="pagination-outer">
      <ul class="pagination">
        <li class="page-item" th:classappend="${offers.isFirst()} ? 'disabled' : ''">
          <a th:unless="${offers.isFirst()}"
             th:href="@{/offers/all(size=${offers.getSize()},page=0)}"
             class="page-link" href="#">First</a>
          <a th:if="${offers.isFirst()}"
             class="page-link" href="#">First</a>
        </li>
      </ul>
    </nav>
    <nav>
      <ul class="pagination">
        <li class="page-item" th:classappend="${offers.hasPrevious() ? '' : 'disabled'}">
          <a th:if="${offers.hasPrevious()}"
             th:href="@{/offers/all(size=${offers.getSize()},page=${offers.getNumber() - 1})}"
             class="page-link" href="#">Previous</a>
          <a th:unless="${offers.hasPrevious()}"
             class="page-link" href="#">Previous</a>
        </li>
      </ul>
    </nav>
    <nav>
      <ul class="pagination">
        <li class="page-item" th:classappend="${offers.hasNext() ? '' : 'disabled'}">
          <a th:if="${offers.hasNext()}"
             th:href="@{/offers/all(size=${offers.getSize()},page=${offers.getNumber() + 1})}"
             class="page-link" href="#">Next</a>
          <a th:unless="${offers.hasNext()}"
             class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
    <nav>
      <ul class="pagination">
        <li class="page-item" th:classappend="${offers.isLast()} ? 'disabled' : ''">
          <a th:unless="${offers.isLast()}"
             th:href="@{/offers/all(size=${offers.getSize()},page=${offers.getTotalPages() - 1})}"
             class="page-link" href="#">Last</a>
          <a th:if="${offers.isLast()}"
             class="page-link" href="#">Last</a>
        </li>
      </ul>
    </nav>
  </div>

</div>
</body>
<div th:replace="fragments/footer">Footer</div>
<script th:src="@{/js/deleteOffer.js}"></script>

</html>