<!DOCTYPE html>
<html lang="en">
<head>
  <th:block th:include="~{/fragments/head}"></th:block>
  <title>Change password</title>
</head>
<body>
<div th:replace="fragments/navbar">Navbar</div>


<div class="container">
  <form id="loginForm" class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center"
        th:object="${user}"
        th:method="post"
        th:action="@{/users/profile/{username}/change_password(username=${user.username})}">

    <h2 class="text-center text-white">Change Password, <th:block th:text="${user.username}"></th:block></h2>

    <input type="hidden" id="username" name="username"
           class="form-control" th:value="${user.username}">
    <div class="row justify-content-center">

        <div class="form-group col-md-6 mb-3">
          <label for="oldPassword"  class="text-white font-weight-bold">Old Password:</label>
          <input id="oldPassword" name="password" type="password"
                 th:field="*{oldPassword}"
                 th:errorclass="is-invalid"
                 class="form-control" placeholder="********" value="">
          <div class="invalid-feedback errors alert alert-danger">
            <div   th:each="err : ${#fields.errors('oldPassword')}"
                   th:text="${err}"></div>
          </div>
      </div>
    </div>
    <div class="row justify-content-center">

      <div class="form-group col-md-6 mb-3">
        <label for="newPassword"  class="text-white font-weight-bold">New Password:</label>
        <input id="newPassword" name="password" type="password"
               th:field="*{newPassword}"
               th:errorclass="is-invalid"
               class="form-control" placeholder="********" value="">
        <div class="invalid-feedback errors alert alert-danger">
          <div   th:each="err : ${#fields.errors('newPassword')}"
                 th:text="${err}"></div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">

      <div class="form-group col-md-6 mb-3">
        <label for="confirmPassword"  class="text-white font-weight-bold">Confirm Password:</label>
        <input id="confirmPassword" name="password" type="password"
               th:field="*{confirmPassword}"
               th:errorclass="is-invalid"
               class="form-control" placeholder="********" value="">
        <div class="invalid-feedback errors alert alert-danger">
          <div   th:each="err : ${#fields.errors('confirmPassword')}"
                 th:text="${err}"></div>
        </div>
      </div>
    </div>

    <p th:if="${bad_credentials}" class="errors alert alert-danger">
      Invalid old password.
    </p>
    <div class="justify-content-center">
      <input id="loginBtn"  type="submit" class="btn btn-info btn-lg" value="Change Password"/>

    </div>


  </form>
</div>

</body>
<div class="fixed-bottom">
  <div th:replace="fragments/footer">Footer</div>

</div>
</html>